<!DOCTYPE HTML>

<html>
  <head>
    <title>ROT13 Decoder</title>
    <link rel="stylesheet" type="text/css" href="{{'rot13:static/rot13.css'|static_url}}">
  </head>

  <body>
    <h1>ROT13/47 Encoder</h1>
    Encryption mode:
    <label>
      ROT13
      <input type="radio" name="rot_mode" value="0" checked/>
    </label>
    <label>
      ROT47
      <input type="radio" name="rot_mode" value="1"/>
    </label>
    <br>
    <textarea id="inputarea" rows="20" cols="120" autofocus placeholder="Enter text"></textarea>
    <br>
    <div id="btn-submit" class="btn" onclick="encryptText()" tabindex="0">Encrypt</div>
    <div id="btn-lfile" class="btn" onclick="loadFile()" tabindex="0">Load</div><input type="file" id="in-lfile" accept="text/*"/>
    <div id="btn-save" class="btn" onclick="saveText()" tabindex="0">Save</div>
    <div id="btn-clear" class="btn" onclick="clearText()" tabindex="0">Clear</div>

    <!-- javascript sources -->
    <script type="text/javascript" src="{{'rot13:static/rot13.js'|static_url}}"></script>
  </body>
</html>
